body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 24px 0;
    border: 0;
    background-color: #e5e5e5;
}


/* Кунтейнер */

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Начало */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__suptitle {
    font-family: 'Dancing Script', cursive;
    font-size: 52px;
    color: white;
    margin-bottom: 35px;
}

.intro__title {
    color: #fff;
    justify-content: center;
    font-size: 90px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: -85px;
}


/* Шапка сайта */

.header {
    width: 100%;
    padding-top: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    padding: 10px 0;
    background-color: #c55ffe;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #c55ffe;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
}


/* Навгиация в шапке */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: white;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fec002;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fec002;
}

.nav__link:hover::after {
    opacity: 1;
}

.nav_toggle {
    display: none;
    padding: 10px 0;
    width: 30px;
    font-size: 0px;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav_toggle:focus {
    outline: 0;
}

.nav_toggle_item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: background .2s linear;
}

.nav_toggle.active .nav_toggle_item {
    background: none;
}

.nav_toggle_item:before,
.nav_toggle_item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}

.nav_toggle_item:before {
    top: -8px;
}

.nav_toggle_item:after {
    bottom: -8px;
}

.nav_toggle.active .nav_toggle_item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0);
}

.nav_toggle.active .nav_toggle_item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}


/* Секция */

.section {
    padding: 80px 0;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}

.section_suptitle {
    font-family: 'Montserrat', cursive;
    font-size: 24px;
    color: blue;
}

.section_title {
    font-size: 30px;
    font-weight: 700;
    color: red;
    text-transform: uppercase;
}

.section_text {
    font-family: 'Montserrat', cursive;
    font-size: 15px;
    color: black;
}

.section--gray {
    background-color: #f8f8f8;
}

.section--yellow {
    background: linear-gradient(#fedd2c, #f4c400);
}


/* Картинки о РПЛ */

.about {
    margin: 80px -15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about_item {
    width: 33.33333%;
    padding: 0 15px;
}

.about_inner {
    position: relative;
    background-color: #cf34e4;
}

.about_item:hover .about_img {
    transform: translate3d(-10px, -10px, 0);
}

.about_item:hover .about_img img {
    opacity: .1;
}

.about_item:hover .about_text {
    opacity: 1;
}

.about_img {
    background: linear-gradient(to bottom, rgb(54, 54, 247), rgb(240, 57, 57));
    transition: transform .1s linear;
}

.about_img img {
    display: block;
    max-width: 100%;
    height: auto;
    transition: opacity .1s linear;
}

.about_text {
    width: 100%;
    font-size: 18px;
    color: blanchedalmond;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 2;
    transform: translate3d(0, -50%, 0);
    transition: opacity .2s linear;
}


/* ТАБЛИЦА */

.table_icon {
    width: auto;
    justify-content: center;
}

.table_color {
    background: blue;
}

.container2 {
    min-width: 320px;
    max-width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.table_img2 {
    margin-left: 3px;
    width: 23px;
    height: 25px;
}

.table_img3 {
    margin-left: 3px;
    width: 24px;
    height: 25px;
}

.table_img4 {
    margin-left: 1px;
    width: 26px;
    height: 24px;
}

.table tr {
    font-size: 14px;
    font-weight: 500;
}

.table_img5 {
    margin-left: 4px;
    width: 25px;
    height: 28px;
}

table td,
table th {
    padding: 10px;
    border: 1px solid #8a09d4;
}

.tr1 {
    background: rgb(161, 199, 25);
}

.tr2 {
    background: rgb(140, 240, 9);
}

.tr3 {
    background: rgb(250, 115, 4);
}

.tr4 {
    background: rgba(211, 6, 6, 0.747);
}


/* Описание таблицы */

.ab {
    margin: 0;
    border-radius: 0 0 8px 8px;
    border-bottom: blueviolet;
    border-right: blueviolet;
    border-left: blueviolet;
    background: #a1a0a0;
}

.ab_con {
    display: flex;
    flex-wrap: wrap;
}

.ab_item1 {
    flex: 1;
}

.about_1 {
    font-weight: 700;
    margin-left: 5px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about_str1 {
    margin-left: 5px;
    align-items: center;
    display: flex;
    margin-bottom: 2px;
    margin-top: 2px;
}

.str1_c {
    border-radius: 1px;
    display: inline-block;
    height: 8px;
    vertical-align: middle;
    width: 8px;
}

.str1_t {
    max-width: 100%;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 1230px) {
    /* Intro */
    .intro__suptitle {
        font-size: 48px;
    }
    .intro__title {
        font-size: 90px;
    }
}

@media (max-width: 1020px) {
    .container2 table thead {
        display: none;
    }
    .container2 table tr {
        display: block;
    }
    .container2 table td {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }
    .container2 table td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 20px;
    }
}

@media (max-width: 990px) {
    /* Intro */
    .intro__suptitle {
        font-size: 32px;
    }
    .intro__title {
        font-size: 80px;
    }
    /* Стат */
    .stat {
        justify-content: center;
    }
    .stat_item {
        flex: none;
        width: 33.33333%;
        padding-top: 30px;
        padding-bottom: 30px;
        border: 0;
    }
    .stat_item:last-child {
        border: 0;
    }
    /* КОМАНДЫ */
    .teams_item {
        width: 50%;
        padding-bottom: 0;
    }
    .teams_item--border {
        border: none;
    }
}

@media (max-width: 770px) {
    /* Intro */
    .intro {
        min-height: 650px;
    }
    .intro__suptitle {
        font-size: 31px;
    }
    .intro__title {
        font-size: 51px;
    }
    .section {
        padding: 40px 0;
    }
    /* Навигации */
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #c55ffe;
    }
    .nav.active {
        display: block;
    }
    .nav__link {
        display: block;
        margin: 0;
        padding: 5px 20px;
    }
    .nav_toggle {
        display: block;
    }
    /* АБАУТ */
    .about {
        margin-top: 50px;
        justify-content: center;
    }
    .about_item {
        width: 100%;
        max-width: 410px;
        margin-bottom: 30px;
    }
    .about_item:last-child {
        margin-bottom: 0;
    }
    /* ЧТО ПРЕДЛАГАЕМ */
    .wedo_img {
        display: none;
    }
    .wedo_item {
        width: 100%;
    }
}

@media (max-width: 575px) {
    /* Intro */
    .intro__suptitle {
        font-size: 22px;
    }
    .intro__title {
        font-size: 40px;
    }
    /* Секция */
    .section_header {
        margin-bottom: 50px;
    }
    .section_title {
        font-size: 24px;
    }
    .section_suptitle {
        font-size: 20px;
    }
    /* Стат */
    .stat_item {
        width: 100%;
        border-bottom: 1px solid #fedd2c;
    }
    .stat_item:last-child {
        border-bottom: 0;
    }
    .stat_count {
        font-size: 52px;
    }
    /* СПОНСОРЫ */
    .logos {
        flex-wrap: wrap;
        justify-content: center;
    }
    .logos_item {
        width: 100%;
        margin-bottom: 20px;
    }
    .logos_img {
        margin: 0 auto;
    }
}


/* Стиль для JS */


/* Фокусировка для заголовочного меню */

.bg-highlight {
    display: inline-block;
    padding: 0;
    position: relative;
    z-index: 0;
}

.bg-highlight:before {
    background-color: #fffe94;
    bottom: 67%;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}