html,
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0%;
    height: 100%;
    overflow-x: hidden;
    background: linear-gradient(45deg, #cd77fe, #a814ff);
}

a {
    color: rgb(150, 6, 6);
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Шапка сайта */

.header {
    width: 100%;
    padding-top: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    padding: 10px 0;
    background-color: #c55ffe;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #c55ffe;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-left: -8px;
}


/* Навгиация в шапке */

.nav {
    font-size: 14px;
    text-transform: uppercase;
    display: block;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 35px;
    position: relative;
    color: white;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fec002;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fec002;
}

.nav__link:hover::after {
    opacity: 1;
}

.nav_toggle {
    display: none;
    padding: 10px 0;
    width: 30px;
    font-size: 0px;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav_toggle:focus {
    outline: 0;
}

.nav_toggle_item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: background .2s linear;
}

.nav_toggle.active .nav_toggle_item {
    background: none;
}

.nav_toggle_item:before,
.nav_toggle_item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}

.nav_toggle_item:before {
    top: -8px;
}

.nav_toggle_item:after {
    bottom: -8px;
}

.nav_toggle.active .nav_toggle_item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0);
}

.nav_toggle.active .nav_toggle_item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}

.background-login {
    position: absolute;
    /* border: solid black; */
    height: fit-content;
    width: 100%;
    margin-top: 180px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#login-box {
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.input-data {
    width: 200px;
    height: 2.5rem;
    background: transparent;
    margin-bottom: 1rem;
    border: 5px solid white;
    font-size: 1rem;
    padding: 5px 10px;
    outline: none;
    background-color: rgb(231, 195, 36);
}


/* .input-data:focus {
    box-shadow: 0 0 3px 3px gray;
} */

#register-form,
#okay-form {
    margin-top: 70px;
    margin-left: 100%;
    height: fit-content;
}

#button-login,
#button-register {
    background-color: #cd77fe;
    display: inline-block;
    vertical-align: top;
    padding: 8px 28px;
    margin-top: 10px;
    border: 3px solid #fff;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}

#button-login:hover,
#button-register:hover {
    background-color: #fec002;
    color: black;
    cursor: pointer;
}

#button-register,
#button-okay {
    cursor: pointer;
}

h1 {
    position: absolute;
    text-align: center;
    color: rgb(218, 181, 19);
    margin: -15px 0px;
    font-weight: 700;
    font-size: 3rem;
    letter-spacing: 2px;
}

#caption {
    margin: 100px 0 0 250px;
    text-decoration: none;
}

.from {
    position: relative;
}

label {
    position: absolute;
    padding-top: 8px;
    font-size: 22px;
    color: green;
    right: calc(50% + 120px);
    visibility: hidden;
}

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 15px;
    margin-top: 10px;
    border: 3px solid #fff;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fec002;
    color: black;
    cursor: pointer;
}

.info-post {
    position: absolute;
    width: 220px;
    height: 130px;
    padding: 10px;
    margin: 10px;
    visibility: hidden;
    background-color: white;
    border-radius: 15px;
    right: 0;
    bottom: 0;
    font-size: 14px;
}

.close-info-post {
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    height: 15px;
    padding: 10px;
    cursor: pointer;
    color: #2196f3;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}

@media (max-width: 940px) {
    /* Навигации */
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #c55ffe;
    }
    .nav.active {
        display: block;
    }
    .nav__link {
        display: block;
        margin: 0;
        padding: 5px 20px;
    }
    .nav_toggle {
        display: block;
    }
}