body {
    margin: 0;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 15px;
    color: #333;
    line-height: 1.6;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 24px 0;
    border: 0;
    background-color: #e5e5e5;
}


/* Кунтейнер */

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 15px;
    margin: 0 auto;
}


/* Начало */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url("../images/intro.jpg") center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.intro__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
    text-align: center;
}

.intro__suptitle {
    font-family: 'Dancing Script', cursive;
    font-size: 52px;
    color: white;
    margin-bottom: 35px;
}

.intro__title {
    color: #fff;
    font-size: 124px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 185px;
}


/* Шапка сайта */

.header {
    width: 100%;
    padding-top: 12px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.header.fixed {
    padding: 10px 0;
    background-color: #c55ffe;
    box-shadow: 0 3px 10px rgba(0, 0, 0, .2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transform: translate3d(0, 0, 0);
}

.header.active {
    background-color: #c55ffe;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: white;
    margin-left: -32px;
}


/* Навгиация в шапке */

.nav {
    font-size: 14px;
    text-transform: uppercase;
    display: none;
}

.nav__link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: white;
    text-decoration: none;
    transition: color .1s linear;
}

.nav__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fec002;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fec002;
}

.nav__link:hover::after {
    opacity: 1;
}

.nav_toggle {
    display: none;
    padding: 10px 0;
    width: 30px;
    font-size: 0px;
    color: transparent;
    border: 0;
    background: none;
    cursor: pointer;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 1;
}

.nav_toggle:focus {
    outline: 0;
}

.nav_toggle_item {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: background .2s linear;
}

.nav_toggle.active .nav_toggle_item {
    background: none;
}

.nav_toggle_item:before,
.nav_toggle_item:after {
    content: "";
    width: 100%;
    height: 3px;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: transform .2s linear;
}

.nav_toggle_item:before {
    top: -8px;
}

.nav_toggle_item:after {
    bottom: -8px;
}

.nav_toggle.active .nav_toggle_item:before {
    transform-origin: left top;
    transform: rotate(45deg) translate3d(0px, -2px, 0);
}

.nav_toggle.active .nav_toggle_item:after {
    transform-origin: left bottom;
    transform: rotate(-45deg) translate3d(0px, 3px, 0);
}


/* Кнопка

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 15px;
    margin-top: 160px;
    border: 3px solid #fff;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fec002;
    color: black;
} */

.section {
    padding: 80px 0;
}

.section_header {
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}

.section_suptitle {
    font-family: 'Montserrat', cursive;
    font-size: 24px;
    color: blue;
}

.section_title {
    font-size: 30px;
    font-weight: 700;
    color: red;
    text-transform: uppercase;
}

.section_text {
    font-family: 'Montserrat', cursive;
    font-size: 15px;
    color: black;
}

.section--yellow {
    background: linear-gradient(#fedd2c, #f4c400);
}

.section--yel {
    background: linear-gradient( #f4c400, #fedd2c);
}


/* ТАБЛИЦА */

.table_icon {
    width: auto;
    justify-content: center;
}

.table_color {
    background: blue;
}

.container2 {
    min-width: 320px;
    max-width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}

.table_img2 {
    margin-left: 3px;
    width: 23px;
    height: 25px;
}

.table_img3 {
    margin-left: 3px;
    width: 24px;
    height: 25px;
}

.table_img4 {
    margin-left: 1px;
    width: 26px;
    height: 24px;
}

.table tr {
    font-size: 14px;
    font-weight: 500;
}

.table_img5 {
    margin-left: 4px;
    width: 25px;
    height: 28px;
}

table td,
table th {
    padding: 10px;
    border: 1px solid #8a09d4;
}

.tr1 {
    background: rgb(161, 199, 25);
}

.tr2 {
    background: rgb(140, 240, 9);
}

.tr3 {
    background: rgb(250, 115, 4);
}

.tr4 {
    background: rgba(211, 6, 6, 0.747);
}


/* Описание таблицы */

.ab {
    margin: 0;
    border-radius: 0 0 8px 8px;
    border-bottom: blueviolet;
    border-right: blueviolet;
    border-left: blueviolet;
    background: #a1a0a0;
}

.ab_con {
    display: flex;
    flex-wrap: wrap;
}

.ab_item1 {
    flex: 1;
}

.about_1 {
    font-weight: 700;
    margin-left: 5px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about_str1 {
    margin-left: 5px;
    align-items: center;
    display: flex;
    margin-bottom: 2px;
    margin-top: 2px;
}

.str1_c {
    border-radius: 1px;
    display: inline-block;
    height: 8px;
    vertical-align: middle;
    width: 8px;
}

.str1_t {
    max-width: 100%;
    margin-left: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* ТАБЛИЦА ГОЛОВ */

.goal {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.goal2 {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.logos1 {
    padding-right: 8px;
    vertical-align: middle;
}

.name1 {
    color: rgba(0, 0, 0, .54);
    font-size: 12px;
    line-height: 16px;
    font-family: arial, sans-serif;
    font-weight: normal;
}

@media (max-width: 940px) {
    /* Intro */
    .intro__suptitle {
        font-size: 32px;
    }
    .intro__title {
        font-size: 80px;
    }
    /* // переопределяем CSS правила */
    .container2 table thead {
        display: none;
    }
    .container2 table tr {
        display: block;
    }
    .container2 table td {
        display: flex;
        justify-content: space-between;
        font-size: 14px;
    }
    .container2 table td::before {
        content: attr(data-label);
        font-weight: bold;
        margin-right: 20px;
    }
}

@media (max-width: 770px) {
    /* Intro */
    .intro {
        min-height: 650px;
    }
    .intro__suptitle {
        font-size: 31px;
    }
    .intro__title {
        font-size: 51px;
    }
    /* Заголовок */
    .header {
        padding-top: 10px 0;
    }
    /* Навигации */
    .nav {
        display: none;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        background-color: #c55ffe;
    }
    .nav.nav {
        display: none;
    }
    .nav.active {
        display: block;
    }
    .nav__link {
        display: block;
        margin: 0;
        padding: 5px 20px;
    }
    .nav_toggle {
        display: block;
    }
}

@media (max-width: 580px) {
    .header__logo {
        margin-left: 0%;
    }
}


/* Стиль для JS */


/* Фокусировка для заголовочного меню */

.bg-highlight {
    display: inline-block;
    padding: 0;
    position: relative;
    z-index: 0;
}

.bg-highlight:before {
    background-color: #fffe94;
    bottom: 67%;
    content: "";
    height: 15px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: -1;
}